includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - apps/gateway/app
        - apps/gateway/config
        - apps/gateway/database
    tmpDir: build/phpstan
    bootstrapFiles:
        - apps/gateway/bootstrap/phpstan.php
    checkModelProperties: true
    treatPhpDocTypesAsCertain: false
    parallel:
        maximumNumberOfProcesses: 10
        jobSize: 5
