includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - config
        - database
    tmpDir: build/phpstan
    checkModelProperties: true
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: '#Parameter \#3 \$value of function curl_setopt expects#'
            path: app/Services/Workspaces/WorkspaceReadinessProbe.php
