{
    frankenphp {
        num_threads 4
        max_threads auto
    }
    auto_https off
}

:8080 {
    root * /srv/orbit/apps/gateway/public
    encode zstd gzip
    @operations_reverb {
        path /app/*
    }
    reverse_proxy @operations_reverb orbit-operations-reverb:8080
    php_server
}
